!!!
html
head
    title A/C Control
    meta(name="viewport", content="initial-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-modile-web-app-status-bar-style", content="black")
    link(href='//fonts.googleapis.com/css?family=Pathway+Gothic+One|Roboto:400,900,700', rel='stylesheet', type='text/css')

    - assets "css"
    link(rel="stylesheet", href=ASSET_URL, type="text/css")
    - endassets
    - assets "js"
    script(src=ASSET_URL)
    - endassets
body
    #display
    #controls

    script#button-view(type="text/template")
        button.action <%= title %>
    script#state-view(type="text/template")
        ul.states
            li.power <%= power ? 'a/c on' : 'a/c off' %>
            li.fan_speed <%= {0: 'low', 1: 'medium', 2: 'high'}[fan_speed] %>
            li.mode <%= {0: 'eco', 1: 'cool', 2: 'fan'}[mode] %>
            li.auto(class="<%= auto ? 'auto-enabled' : 'auto-disabled' %>") auto
        .temperature <%= temperature %>&deg; F
        .spinner
            .bounce1
            .bounce2
            .bounce3
    script(type="text/javascript")
        IRApp.start(JSON.parse('{{ config|tojson|safe }}'));
